<div class="footer">
    <div class="footer__box">
        <div class="footer__mutual">
            <div class="footer__mutual--logo">
                <img src="./assets/imgs/footer/mutual-logo-completo.png" alt="m-logo">
            </div>
            <div class="footer__mutual--info">
                <p class="text-mutual-info">Casa Central</p>
                <p class="text-mutual-info">Mitre 664 - Venado Tuerto</p>
            </div>
            <div class="footer__mutual--newsletter">
                <p class="text-mutual-title">Newsletter</p>
                <div class="newsletter-item-input">
                    <input class="input-newsletter" placeholder="Ingresa tu mail" type="text"><button class="btn-primary">Enviar</button>
                </div>
            </div>
        </div>
        <div class="footer__filiales">
            <p class="text-mutual-title">Filiales</p>
            <div class="filiales">
                <div>
                    <p class="text-mutual-info color-filial">Venado Tuerto</p>
                    <p class="text-mutual-info color-filial">Rufino</p>
                    <p class="text-mutual-info color-filial">Villa Cañas</p>
                    <p class="text-mutual-info color-filial">San Gregorio</p>
                </div>
                <div>
                    <p class="text-mutual-info color-filial">San Nicolás</p>
                    <p class="text-mutual-info color-filial">Villa Const.</p>
                    <p class="text-mutual-info color-filial">Villa Ramallo</p>
                </div>
            </div>
        </div>
        <div class="footer__follow">
            <p class="text-mutual-title">Seguinos</p>
            <div class="social-media">
                <img src="./assets/imgs/footer/ig-logo.png" alt="ig">
                <img src="./assets/imgs/footer/fb-logo.png" alt="fb">
            </div>
        </div>
    </div>
    <hr class="segmented-hr">

    <div class="footer__bottom">
        <div class="qr-box">
            <img src="./assets/imgs/footer/qr.png" alt="qr">
        </div>
        <div class="financieros-box">
            <img src="./assets/imgs/footer/usuarios-financieros.png" alt="u-financieros">
        </div>
        <div class="text-box">
            <p>
                MEACMP es un Proveedor de Servicios de Pago y no está autorizado por el BCRA para operar como entidad
                financiera. Mas info acá
                Alau Tecnología S.A.U. © 2022 - CUIT 30-71542170-0. Todos los derechos reservados. Nicaragua 4677,
                C1414BVG CABA, Argentina.
                Contacto telefónico al +54 8103 45 8252.
            </p>
        </div>
        <div class="contact-box">
            <div class="contact-item">
                <img class="mail-logo" src="./assets/imgs/footer/mail-logo.png" alt="mail">
                <p>casacentral@mutualentreasoc.com.ar</p>
            </div>
            <div class="contact-item">
                <img class="cel-logo" src="./assets/imgs/footer/cel-logo.png" alt="cel">
                <p>03462 430655</p>
            </div>
        </div>
    </div>
    <div class="footer__derechos">
        <p>© 2023. All rights reserved</p>
    </div>

</div>