<app-header></app-header>
<div class="prestamo-home">
    <div class="prestamo-home__detalles">
        <img src="./assets/imgs/detalle-izquierda-home.png" alt="det-izq">
        <img src="./assets/imgs/detalle-derecha-home.png" alt="det-der">
    </div>
    <div class="prestamo-home__box">
        <div class="prestamo-home__box__image">
            <img class="prestamo-img" src="./assets/imgs/prestamo-home.png" alt="prestamo-image">
            <img class="money-img" src="./assets/imgs/money-icon.png" alt="money">
        </div>
        <div class="prestamo-home__box__text">
            <div class="prestamo-home__box__text--title">
                <p class="title-verde-oscuro">El préstamo personal</p>
                <p class="title-verde-claro">que más te conviene</p>
            </div>
            <div class="prestamo-home__box__text--text">
                <p class="text-prestamo">Solicitá tu préstamo 100% online. Elegí el monto de tu Préstamo y cuántas cuotas querés pagarlo. Contás con financiación a la medida de tus necesidades. Te lo depositamos en tu cuenta. Si ya sos cliente, pedilo desde Home Mutual, sin necesidad de ir a la sucursal.</p>
            </div>
            <hr>
            <a [routerLink]="'simulador'">
                <div class="prestamo-home__box__text--button">
                    <div class="btn-play">
                        <img src="./assets/imgs/play-btn.png" alt="btn-play">
                    </div>
                        <div class="btn-play-text">
                            <p class="text-bold-btn">Simulá la cuota de tu Préstamo</p>
                            <p class="text-green-btn">Ingresa aquí  <span>&rarr;</span></p>
                        </div>
                </div>
            </a>
        </div>
    </div>
</div>
<nuestros-servicios></nuestros-servicios>
<div class="primicia-section">
    <div class="primicia-section__box">
        <div class="primicia-section__box--content">
            <img src="./assets/imgs/primicia/primicia-logo.png" alt="primicia-logo" class="primicia-logo">
            <p class="primicia-title">La tarjeta <br><span>de tus pagos</span></p>
            <p class="primicia-text">Tarjeta Primicia es un servicio de Mutual entre Asociados de Cooperación Mutual Patronal presentado al mercado en el año 2002. Es una tarjeta de crédito propia con marca registrada a nivel nacional.</p>
            <a href="https://www.tarjetaprimicia.com.ar/" target="_blank"><button class="primicia-btn"><span>¡Pedila</span> ahora!</button></a>
        </div>
        <div class="primicia-section__box--img">
            <img src="./assets/imgs/primicia/primicia-img.png" alt="primicia">
            <p class="primicia-text d-none">Tarjeta Primicia es un servicio de Mutual entre Asociados de Coo...</p>
            <a href="https://www.tarjetaprimicia.com.ar/" target="_blank"><button class="primicia-btn d-none"><span>¡Pedila</span> ahora!</button></a>
        </div>
    </div>
</div>