<div class="opiniones-section">
    <div *ngIf="muestraOpiniones">
        <div class="opinion-box" *ngFor="let opinion of opiniones">
            <div class="opinion-item">
                <label>Titulo</label>
                <p>{{ opinion.titulo }}</p><button (click)="updateOpinion('titulo',opinion.id, opinion.titulo)" mat-raised-button>Editar</button>
            </div>
            <div class="opinion-item">
                <label>Texto</label>
                <p>{{ opinion.texto }}</p><button (click)="updateOpinion('texto',opinion.id, opinion.texto)" mat-raised-button>Editar</button>
            </div>
            <div class="opinion-item">
                <label>Nombre</label>
                <p>{{ opinion.nombre }}</p><button (click)="updateOpinion('nombre',opinion.id, opinion.nombre)" mat-raised-button>Editar</button>
            </div>
            <div class="opinion-item">
                <label>Trabajo</label>
                <p>{{ opinion.trabajo }}</p><button (click)="updateOpinion('trabajo',opinion.id, opinion.trabajo)" mat-raised-button>Editar</button>
            </div>
            <div class="opinion-item">
                <label>Imágen</label>
                <div class="img-box">
                    <img class="opinion-imagen" [src]="opinion.imagen ? ('data:image/png;base64,' + opinion.imagen) : '/assets/imgs/testimonios/user.png'">
                </div>
                <button (click)="f_input_image.click()" mat-raised-button>Editar</button>
                <input type="file" 
                #f_input_image
                accept="image/png, image/gif, image/jpeg"
                hidden
                (change)="updateOpinionImage('imagen', $event, opinion.id)">
            </div>
        </div>
    </div>
    <div class="spinner" *ngIf="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>