p {
  margin: 0;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5.375rem;
  padding-bottom: 5.375rem;

  &__title-big {
    .color {
      color: var(--verde-oscuro) !important;
    }

    margin-top: 2.3125rem;
    margin-bottom: 3.75rem;

    @media (max-width: 784px) {
      text-align: center;
    }
  }

  &__box-contact {
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 784px) {
      flex-direction: column;
    }

    .text-section-contact {
      color: #1A5C43;
      font-family: Roboto-Bold;
      font-size: 1.75rem;
      font-style: normal;
      line-height: 2.375rem;
      /* 135.714% */
      letter-spacing: 0.5px;

      &__big {
        width: 20.25rem;
        color: #73788C;
        font-family: Roboto-Regular;
        font-size: 1rem;
        font-style: normal;
        line-height: 1.625rem;
        /* 162.5% */
        margin-top: 1rem;

        @media (max-width: 600px) {
          width: 80%;
        }
      }
    }

    display: flex;

    p {
      margin-left: 1.25rem;
    }

    &__chatbox,
    &__whatsapp,
    &__redes-sociales {
      img {
        margin-left: 1.375rem;
        margin-top: 2.39rem;
        margin-bottom: 0.625rem;
      }

      width: 23.5rem;
      height: 18.4375rem;
      flex-shrink: 0;
      border-radius: 15px;
      background: #F5F5F5;

      @media (max-width: 600px) {
        width: 80%;
      }
    }

    &__chatbox {
      margin-left: 7.875rem;

      @media (max-width: 1500px) {
        margin-left: 0;
      }

      margin-right: 2rem;

      @media (max-width: 1300px) {
        margin-right: 1rem;
      }

      @media (max-width: 784px) {
        margin-right: 0rem;
      }
    }

    &__whatsapp {
      margin-right: 2rem;

      @media (max-width: 1300px) {
        margin-right: 1rem;
      }

      @media (max-width: 800px) {
        margin-top: 1rem;
      }

      @media (max-width: 784px) {
        margin-right: 0rem;
      }
    }

    &__redes-sociales {
      margin-right: 7.625rem;

      @media (max-width: 1500px) {
        margin-right: 0;
      }

      @media (max-width: 1176px) {
        margin-top: 1rem;
      }
    }
  }
}

.formulario-box {
  max-width: 1440px;
  margin: 0 auto;
}