<div class="formulario">
  <div class="formulario__title-little">
    <p class="text-small-section">Formulario</p>
  </div>
  <div class="formulario__title-big">
    <p class="title-section color">¿Necesitás ponerte en contacto con nosotros?</p>
  </div>
  <div class="formulario__box-contact">
    <div class="formulario__box-contact__chatbox">
      <!-- icon -->
      <img src="./assets/imgs/formulario/chatbox-icon.png" alt="">
      <p class="text-section-contact">Chatbox</p>
      <p class="text-section-contact__big">Chateá con nosotros las 24 hs, dejanos
        tu consulta y contestaremos al instante.</p>
    </div>
    <div class="formulario__box-contact__whatsapp">
      <!-- icon -->
      <img src="./assets/imgs/formulario/whatsApp-icon.png" alt="">
      <p class="text-section-contact">Whatsapp</p>
      <p class="text-section-contact__big">Comunicate con nosotros a nuestra canal
        oficial de whatsapp bussines, </p>
    </div>

    <div class="formulario__box-contact__redes-sociales">
      <!-- icon -->
      <img src="./assets/imgs/formulario/redes-icon.png" alt="">
      <p class="text-section-contact">Redes Sociales</p>
      <p class="text-section-contact__big">Estamos para ayudarte en Facebook, Instagram y Twitter. Recordá que nuestras redes sociales oficiales tienen el
        tilde de verificación.</p>
    </div>
  </div>
</div>
<hr class="segmented-hr">
<div class="formulario-box">
  <formulario [tipo]="'consulta'"></formulario>
</div>