<div class="client-layout">
    <div class="client-layout__navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="client-layout__content">
        <router-outlet></router-outlet>
    </div>
    <div class="ellipse ellipse-selector"></div>
    <div class="e-shadow ellipse-shadow"></div>
    <div class="client-layout__footer">
        <app-footer></app-footer>
    </div>
</div>

<div class="whatsapp-icon" (click)="openWhatsapp()">
    <i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
</div>