<div class="ayuda">
    <div class="ayuda__tittle-little">
        <p class="text-small-section">Ayuda y seguridad</p>
    </div>
    <div class="ayuda__box">
        <div class="ayuda__box__title title-section">Preguntas Frecuentes</div>
        <div class="ayuda__box__tab">
            <ul>
                <li *ngFor="let cat of catQuestions" [ngClass]="{'active': isSelected === cat.id}" (click)="toggleClass(cat.id)">{{ cat.nombre }}</li>
                
            </ul>
        </div>
    </div>

    <div class="ayuda__box__answers">
        <question-section [questions]="catQuestionsSelected"></question-section>
    </div>
</div>

<div class="loader-mutual-box" *ngIf="cargandoData">
    <span class="loader-mutual"></span>
</div>
