<div class="ayuda">
    <div class="ayuda__tittle-little">
        <p class="text-small-section">Ayuda y seguridad</p>
    </div>
    <div class="ayuda__box">
        <div class="ayuda__box__title title-section">Preguntas Frecuentes</div>
        <div class="ayuda__box__tab">
            <ul>
                <li [ngClass]="{'active': isSelected === 'generales'}" (click)="toggleClass('generales')">General</li>
                <li [ngClass]="{'active': isSelected === 'payments'}" (click)="toggleClass('payments')">Payments</li>
                <li [ngClass]="{'active': isSelected === 'services'}" (click)="toggleClass('services')">Services</li>
                <li [ngClass]="{'active': isSelected === 'refund'}" (click)="toggleClass('refund')">Refund</li>
                <li [ngClass]="{'active': isSelected === 'contact'}" (click)="toggleClass('contact')">Contact</li>
            </ul>
        </div>
    </div>

    <div class="ayuda__box__answers">
        <question-section [questions]="questionsSelected"></question-section>
    </div>
</div>