<div class="simulador-section">
  <div class="simulador-section__title-little">
    <p class="text-small-section">Simulador</p>
  </div>
  <div class="simulador-section__title-big">
    <p class="title-section color">Simulá la cuota de tu Préstamo</p>
  </div>

  <div class="simulador-box">
    <mat-stepper *ngIf="tna.seis !== 0" orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup" class="box-step">
        <form [formGroup]="firstFormGroup" (keydown.enter)="(false)">
          <ng-template matStepLabel>Elegí el monto de tu Préstamo</ng-template>
            <div class="box-text-prestamo">
              <p>Ingresá el monto en miles. Caso contrario se redondeará automáticamente.</p>
            </div>
            <div class="box-number-prestamo">
              <p (click)="selectInputContent()" [ngClass]="{'d-none': !ocultaInput, 'd-block': ocultaInput}" class="number-prestamo">${{firstFormGroup.value.firstCtrl! | dotThousandSeparator }}</p>
              <input #myInput class="prestamo-number-input" [ngClass]="{'d-none': ocultaInput, 'd-block': !ocultaInput}" (change)="validateCampo()" (keydown.enter)="validateCampo()" type="number" max="2000000" min="100000" step="100000" [value]="firstFormGroup.value.firstCtrl" formControlName="firstCtrl">
              <mat-slider class="example-margin" [max]="2000000" [min]="100000" [step]="100000">
                <input matSliderThumb [value]="firstFormGroup.value.firstCtrl" formControlName="firstCtrl">
              </mat-slider>
            </div>
          <div>
            <button mat-button (click)="calculaCuota()" matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" class="box-step">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>¿En cuántas cuotas querés pagarlo?</ng-template>
            <mat-radio-group class="cuotas-selection" formControlName="secondCtrl">
              <mat-radio-button value="1"><strong>6</strong> cuotas de <br><strong>${{ importeCuotas.seis | dotThousandSeparator }}</strong></mat-radio-button>
              <mat-radio-button value="2"><strong>12</strong> cuotas de <br><strong>${{ importeCuotas.doce | dotThousandSeparator }}</strong></mat-radio-button>
              <mat-radio-button value="3"><strong>24</strong> cuotas de <br><strong>${{ importeCuotas.veinticuatro | dotThousandSeparator }}</strong></mat-radio-button>
            </mat-radio-group>
          <div class="buttons-section">
            <button mat-button matStepperPrevious>Volver</button>
            <button class="button-servicios ml-none" (click)="goToPrestamo()">Solicitar Préstamo</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
    <div class="legales-box">
      <hr *ngIf="tea.seis !== 0">
      <p *ngIf="tea.seis !== 0">El presente desarrollo no constituye oferta de Mutual Entre Asociados de Cooperación Mutual Patronal, sólo tiene carácter informativo y orientativo para el interesado.
        6 cuotas    TEA {{ reemplazarPuntosPorComas(tea.seis) }}%     CFT {{ reemplazarPuntosPorComas(cft.seis) }}%
        12 Cuotas  TEA {{ reemplazarPuntosPorComas(tea.doce) }}%     CFT {{ reemplazarPuntosPorComas(cft.doce) }}%
        24 cuotas   TEA {{ reemplazarPuntosPorComas(tea.veinticuatro) }}%   CFT {{ reemplazarPuntosPorComas(cft.veinticuatro) }}%
        Préstamos sujetos a las condiciones crediticias.
        El monto acreditado puede variar según los gastos administrativos.</p>

        <div *ngIf="tea.seis === 0" class="spinner-box">
          <mat-spinner></mat-spinner>
        </div>
    </div>
  </div>
</div>