<div class="simulador-section">
  <div class="simulador-section__title-little">
    <p class="text-small-section">Simulador</p>
  </div>
  <div class="simulador-section__title-big">
    <p class="title-section color">Simulá la cuota de tu Préstamo</p>
  </div>
  <!-- <div class="simulador-section__box-products">
        <div class="simulador-section__box-products--producto">
            <div class="box-header">
                <img src="/assets/imgs/servicios/simulador/simulador-personales.png" alt="img-sim">
            </div>
            <div class="box-body">
                <div class="box-title">
                    <img src="/assets/imgs/servicios/simulador/tick.png" alt="tick">
                    <p class="title-text">Préstamo Personal</p>
                </div>
                <div class="box-content">
                    <p class="content-text">Podés pagarlo en hasta 72 meses(*)</p>
                </div>
                <div class="box-button">
                    <button>Simulá tu préstamo</button>
                </div>
            </div>
        </div>
    </div> -->

  <div class="simulador-box">
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup" class="box-step">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Elegí el monto de tu Préstamo</ng-template>
            <div class="box-text-prestamo">
              <p>Ingresá el monto en miles. Caso contrario se redondeará automáticamente.</p>
            </div>
            <div class="box-number-prestamo">
              <p class="number-prestamo">${{firstFormGroup.value.firstCtrl! | dotThousandSeparator }}</p>
              <mat-slider class="example-margin" [max]="2000000" [min]="100000" [step]="100000">
                <input matSliderThumb formControlName="firstCtrl">
              </mat-slider>
            </div>
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" class="box-step">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>¿En cuántas cuotas querés pagarlo?</ng-template>
            <mat-radio-group class="cuotas-selection" formControlName="secondCtrl">
              <mat-radio-button value="1"><strong>12</strong> cuotas de <br><strong>$342.925</strong></mat-radio-button>
              <mat-radio-button value="2"><strong>24</strong> cuotas de <br><strong>$251.895</strong></mat-radio-button>
              <mat-radio-button value="3"><strong>36</strong> cuotas de <br><strong>$221.153</strong></mat-radio-button>
            </mat-radio-group>
          <div class="buttons-section">
            <button mat-button matStepperPrevious>Volver</button>
            <button class="button-servicios" (click)="goToPrestamo()">Solicitar Préstamo</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>

  </div>
</div>