.header {
    width: 100%;

    @media (max-width: 370px) {
       display: none; 
    }
    // height: 40.125rem;
    // overflow: hidden;
    // mix-blend-mode: multiply;
    // background-size: cover;
    // background-position: center;

    // @media (max-width: 768px) {
    //     background-image: linear-gradient(90deg, #1b1b1bd7 0.19%,  rgba(255, 255, 255, 0.00) 99.82%), url('/assets/imgs/header.png');
    //     background-position: center;
    // }

    &__box {
        // width: 100%;
        // height: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        overflow: hidden;
        position: relative;


        img {
            width: 100% !important;
        }

        .imagen-header {

        }

        .text-finanzas-img {
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35.6rem !important;
            opacity: 0;
            transition: all 1s;

            @media (max-width: 1200px) {
                width: 25.6rem !important;
            }

            @media (max-width: 520px) {
                width: 15.6rem !important;
            }
        }

        //     @media (max-width: 768px) {
        //         img {
        //             width: 70%;
        //         }
        //     }
        // }

        .animacion-finanzas {
            top: 50%;
            opacity: 1;
        }
    }
}

.slide {
    position: relative;

    .text-header {

    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, black, rgba(255, 255, 255, 0));
    pointer-events: none;
}



.title-big {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.subtitle {
    color: #F8F8FB;
    font-family: 'Roboto';
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 35.2px */
    width: 27rem;
    margin-top: 1rem;
}