<div class="formulario-defined">
    <div class="formulario-defined__title" *ngIf="tipo === 'consulta'">
        <p class="title-section change-size">Dejanos su consulta</p>
    </div>
    <form [formGroup]="formConsulta" (ngSubmit)="sendData()" *ngIf="tipo === 'consulta'">
        <div class="formulario-defined__content">
            <div class="formulario-defined__content--item">
                <label>Nombre y Apellido</label>
                <input formControlName="nombre" type="text">
                <div class="error-text-defined"
                    *ngIf="checkIfError('nombre')">
                    El Nombre es obligatorio.
                </div>
            </div>
            <div class="formulario-defined__content--item">
                <label>Email</label>
                <input formControlName="email" type="text">
                <div *ngIf="checkIfError('email')"
                     class="error-text-defined">
                    <div *ngIf="formConsulta.get('email')!.hasError('required')">
                        El correo electrónico es obligatorio.
                    </div>
                    <div *ngIf="formConsulta.get('email')!.hasError('email')">
                        El formato del correo electrónico no es
                        válido.
                    </div>
                </div>
            </div>
            <div class="formulario-defined__content--item">
                <label>Celular</label>
                <div class="box-telefono-area">
                    <mat-icon matPrefix>exposure_zero</mat-icon>
                    <input matInput
                    (keydown)="onKeyDown($event)"
                           ngClass="campo-datos-personales"
                           [maxLength]="4"
                           style="width: 30%;"
                           formControlName="celularArea">
                    <mat-icon matPrefix>remove</mat-icon>
                    <input matInput
                    (keydown)="onKeyDown($event)"
                    [maxLength]="10"
                    placeholder="Incluir el 15"
                    ngClass="campo-datos-personales"
                    formControlName="celularNumero">
                </div>
                <div class="error-text-defined" *ngIf="checkIfError('celularArea') || checkIfError('celularNumero')">
                    El Celular es obligatorio.
                </div>
            </div>
            <div class="formulario-defined__content--item">
                <label>Dirección Postal</label>
                <input formControlName="codPostal" type="text"
                       (input)="onInputChange($event, 'codPostal')"
                       (keydown)="onKeyDown($event)">
                <div class="error-text-defined"
                     *ngIf="checkIfError('codPostal')">
                    El Código postal es obligatorio.
                </div>
            </div>
            <div class="formulario-defined__content--item">
                <label>Ciudad</label>
                <input formControlName="ciudad" type="text">
                <div class="error-text-defined"
                     *ngIf="checkIfError('ciudad')">
                    La ciudad es obligatoria.
                </div>
            </div>
            <div class="formulario-defined__content--item">
                <label>Consultas o sugerencias</label>
                <textarea formControlName="consulta"></textarea>
                <div class="error-text-defined"
                     *ngIf="checkIfError('consulta')">
                    Ingrese su consulta.
                </div>
            </div>
        </div>
        <div class="formulario-defined__button">
            <button type="submit" [disabled]="enviandoDataConsulta" class="btn-primary-mutual btn-form-defined">Enviar</button>
        </div>
    </form>

    <form>
        <form-personales class="form-item-selector" *ngIf="tipo === 'prestamos-personales'" (envioForm)="sendFormulario($event)" [enviandoData]="enviandoData"></form-personales>
        <form-prendario class="form-item-selector" *ngIf="tipo === 'prestamos-prendarios'" (envioForm)="sendFormulario($event)" [enviandoData]="enviandoData"></form-prendario>
        <form-agropecuario class="form-item-selector" *ngIf="tipo === 'prestamos-agropecuarios'" (envioForm)="sendFormulario($event)" [enviandoData]="enviandoData"></form-agropecuario>
        <form-empresarial class="form-item-selector" *ngIf="tipo === 'prestamos-empresariales'" (envioForm)="sendFormulario($event)" [enviandoData]="enviandoData"></form-empresarial>
        <form-empleados-publicos class="form-item-selector" *ngIf="tipo === 'prestamos-empleados-publicos'" (envioForm)="sendFormulario($event)" [enviandoData]="enviandoData"></form-empleados-publicos>
        <form-inversiones class="form-item-selector" *ngIf="tipo === 'inversiones'" (envioForm)="sendFormulario($event)" [enviandoData]="enviandoData"></form-inversiones>
        <form-recaudaciones class="form-item-selector" *ngIf="tipo === 'recaudaciones'" (envioForm)="sendFormulario($event)" [enviandoData]="enviandoData"></form-recaudaciones>
        <form-consultorio-juridico class="form-item-selector" *ngIf="tipo === 'consultorio-juridico'" (envioForm)="sendFormulario($event)" [enviandoData]="enviandoData"></form-consultorio-juridico>
    </form>
</div>