<div class="formulario">
    <div class="formulario__title">
        <p class="title-section change-size">Dejanos su consulta</p>
    </div>
    <form [formGroup]="formConsulta" (ngSubmit)="sendData()">
        <div class="formulario__content">
            <div class="formulario__content--item">
                <label>Nombre y Apellido</label>
                <input formControlName="nombre" type="text">
                <div
                    *ngIf="formConsulta.get('nombre')!.invalid && (formConsulta.get('nombre')!.dirty || formConsulta.get('nombre')!.touched)">
                    El Nombre es obligatorio.
                </div>
            </div>
            <div class="formulario__content--item">
                <label>Email</label>
                <input formControlName="email" type="text">
                <div
                    *ngIf="formConsulta.get('email')!.invalid && (formConsulta.get('email')!.dirty || formConsulta.get('email')!.touched)">
                    <div *ngIf="formConsulta.get('email')!.hasError('required')">
                        El correo electrónico es obligatorio.
                    </div>
                    <div *ngIf="formConsulta.get('email')!.hasError('email')">
                        El formato del correo electrónico no es
                        válido.
                    </div>
                </div>
            </div>
            <div class="formulario__content--item">
                <label>Celular</label>
                <input formControlName="celular" type="text" 
                       (input)="onInputChange($event, 'celular')"
                       (keydown)="onKeyDown($event)">
                <div
                    *ngIf="formConsulta.get('celular')!.invalid && (formConsulta.get('celular')!.dirty || formConsulta.get('celular')!.touched)">
                    El Celular es obligatorio.
                </div>
            </div>
            <div class="formulario__content--item">
                <label>Dirección Postal</label>
                <input formControlName="codPostal" type="text"
                       (input)="onInputChange($event, 'codPostal')"
                       (keydown)="onKeyDown($event)">
                <div
                    *ngIf="formConsulta.get('codPostal')!.invalid && (formConsulta.get('codPostal')!.dirty || formConsulta.get('codPostal')!.touched)">
                    El Código postal es obligatorio.
                </div>
            </div>
            <div class="formulario__content--item">
                <label>Ciudad</label>
                <input formControlName="ciudad" type="text">
                <div
                    *ngIf="formConsulta.get('ciudad')!.invalid && (formConsulta.get('ciudad')!.dirty || formConsulta.get('ciudad')!.touched)">
                    La ciudad es obligatoria.
                </div>
            </div>
            <div class="formulario__content--item">
                <label>Consultas o sugerencias</label>
                <textarea formControlName="consulta"></textarea>
                <div
                    *ngIf="formConsulta.get('consulta')!.invalid && (formConsulta.get('consulta')!.dirty || formConsulta.get('consulta')!.touched)">
                    Ingrese su consulta.
                </div>
            </div>
        </div>
        <div class="formulario__button">
            <button type="submit" class="btn-primary-mutual btn-form">Enviar</button>
        </div>
    </form>
</div>