<h1 mat-dialog-title>{{data.servicio.titulo}}</h1>
<div mat-dialog-content>
    <form [formGroup]="formServicio">
        <div class="servicio-item">
            <mat-form-field class="example-full-width">
                <mat-label>Título</mat-label>
                <input matInput formControlName="titulo">
            </mat-form-field>
        </div>
        <div class="servicio-item">
            <mat-form-field class="example-full-width">
                <mat-label>Texto</mat-label>
                <textarea class="text-area-input" matInput formControlName="texto"></textarea>
            </mat-form-field>
        </div>
        <div class="servicio-item servicio-caracteristicas">
            <!-- <ul formArrayName="caracteristicas">
                <li *ngFor="let item of formServicio.get('caracteristicas').controls; let i = index">
                    <input type="text" [formControlName]="i">
                    <button (click)="eliminarCaracteristica(i)">Eliminar</button>
                </li>
            </ul> -->
            <button (click)="agregarCaracteristica()">Agregar Característica</button>
        </div>
        <div class="servicio-item servicio-images">
            <input type="file" 
                   #f_input_icon
                   accept="image/png, image/gif, image/jpeg"
                   hidden
                   (change)="uploadFile($event, 'icon')">
            <input type="file" 
                   #f_input_image
                   accept="image/png, image/gif, image/jpeg"
                   hidden
                   (change)="uploadFile($event, 'image')">
            <img class="service-icon" (click)="f_input_icon.click()" [src]="formServicio.value.icon ? ('data:image/png;base64,' + formServicio.value.icon) : ''">
            <img class="service-image" (click)="f_input_image.click()" [src]="formServicio.value.image ? ('data:image/png;base64,' + formServicio.value.image) : ''">
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button cdkFocusInitial>Ok</button> <!--[mat-dialog-close]="data.animal"-->
</div>