<h1 mat-dialog-title>{{data.servicio.titulo}}</h1>
<div mat-dialog-content>
    <form [formGroup]="formServicio">
        <div class="servicio-item">
            <mat-form-field class="example-full-width">
                <mat-label>Título</mat-label>
                <input matInput formControlName="titulo">
            </mat-form-field>
        </div>
        <div class="servicio-item">
            <mat-form-field class="example-full-width">
                <mat-label>Texto</mat-label>
                <textarea class="text-area-input" matInput formControlName="texto"></textarea>
            </mat-form-field>
        </div>
        <div class="servicio-item servicio-caracteristicas">
            <!-- <ul formArrayName="caracteristicas">
                <li *ngFor="let item of formServicio.get('caracteristicas').controls; let i = index">
                    <input type="text" [formControlName]="i">
                    <button (click)="eliminarCaracteristica(i)">Eliminar</button>
                </li>
            </ul> -->
            <button mat-raised-button (click)="gestionarCaracteristicas()">Característica</button>
        </div>
        <div class="servicio-item servicio-images">
            <input type="file" 
                   #f_input_icon
                   accept="image/png, image/gif, image/jpeg"
                   hidden
                   (change)="uploadFile($event, 'icon')">
            <input type="file" 
                   #f_input_image
                   accept="image/png, image/gif, image/jpeg"
                   hidden
                   (change)="uploadFile($event, 'image')">
            <div class="media-box">
                <img class="service-icon" [src]="formServicio.value.icon ? ('data:image/png;base64,' + formServicio.value.icon) : ''">
                <button class="btn-media" mat-raised-button (click)="f_input_icon.click()">Cambiar Icono</button>
            </div>
            <div class="media-box">
                <img class="service-image" [src]="formServicio.value.image ? ('data:image/png;base64,' + formServicio.value.image) : ''">
                <button class="btn-media" mat-raised-button (click)="f_input_image.click()">Cambiar Image</button>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button button mat-button class="btn-guardar" [disabled]="cargando" (click)="updateCaracteristicas()" cdkFocusInitial>Guardar</button> <!--[mat-dialog-close]="data.animal"-->
</mat-dialog-actions>