<div class="prestamo" [ngClass]="selected ? 'selected-background' : 'unselected-background'">
    <div class="prestamo__detalle">
        <img [src]="selected ? './assets/imgs/diamond-box-light.png' : './assets/imgs/diamond-box-strong.png'" alt="">            
    </div>
    <div class="prestamo__header">
        <div class="prestamo__header--icon">
            <img [src]="'data:image/png;base64,' + icon" alt="serv-icon">
        </div>
        <div class="prestamo__header--title" [ngClass]="selected ? 'selected-title-color' : 'unselected-title-color'">
            <p #textoRender hidden>{{ titulo }}</p>
            <div class="first-word" #firstWord></div>
            <div class="rest-of-text" #restOfText></div>
        </div>
    </div>
    <div class="prestamo__body">
        <div class="prestamo__body--text" [ngClass]="selected ? 'selected-title-color' : 'unselected-title-color-body'">
            <p>{{ texto }}</p>
            <ul>
        <li *ngFor="let item of caracteristicasArray; let i = index">
            {{ item }}
        </li>
            </ul>
            
        </div>
    </div>
    <div class="prestamo__footer">
        <div class="prestamo__footer--btn" >
            <button (click)="redireccionar(url)" class="leer-mas-btn selected-title-color selected-title-color">Leer más</button><mat-icon class="selected-title-color">arrow_forward_ios</mat-icon>
        </div>
    </div>
</div>