/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Public-Regular;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Regular.ttf');
}

@font-face {
  font-family: Public-Thin;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Thin.ttf');
}

@font-face {
  font-family: Public-ExtraLight;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-ExtraLight.ttf');
}

@font-face {
  font-family: Public-Light;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Light.ttf');
}

@font-face {
  font-family: Public-Medium;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Medium.ttf');
}

@font-face {
  font-family: Public-SemiBold;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-SemiBold.ttf');
}

@font-face {
  font-family: Public-Bold;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Bold.ttf');
}

@font-face {
  font-family: Public-Black;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Black.ttf');
}

@font-face {
  font-family: Roboto-Thin;
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Black;
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: Space-Regular;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf');
}

@font-face {
  font-family: Space-Light;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf');
}

@font-face {
  font-family: Space-Medium;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: Space-SemiBold;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
  font-family: Space-Bold;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf');
}

@font-face {
  font-family: Poppins-Thin;
  src: url('./assets/fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: Poppins-ExtraLight;
  src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: Poppins-Black;
  src: url('./assets/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: Nunito-Regular;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans_10pt-Regular.ttf');
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans_10pt-SemiBold.ttf');
}

@font-face {
  font-family: Clockmaker-Regular;
  src: url('./assets/fonts/Clockmaker-Regular.ttf');
}

.header-title-admin {
  font-size: 5vw;

  color: #90fb6d !important;
  text-shadow: 1.5px 1.5px 1.5px #000000;
  * {
    font-family: Clockmaker-Regular, sans-serif!important;
  }
  p {
    margin: 0;
    transform: skewY(-5deg);
    display: flex;
    align-items: center;
    line-height: 1;
    img {
      transform: skewY(5deg);
      display: inline;
      width: 3vw;
      height: auto;
      margin-right: 1vw;
    }
  }
}

.header-subtitle-admin {
  font-size: 3vw;
  line-height: 1;
  letter-spacing: -.05rem;
  color: white;
  text-shadow: 1.5px 1.5px 1.5px #000000;
  * {
    font-family: Clockmaker-Regular, sans-serif!important;
  }
  p {
    margin: 0;
    display: flex;
    align-items: center;
    transform: skewY(-5deg);
    img {
      transform: skewY(5deg);
      display: inline;
      width: 2.3vw;
      height: auto;
    }
  }
}

.dialog-header {
  padding: 0!important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular;
}

html {
  font-size: 100%;
  /* 100% = 16px */
  position: relative;
  // @media (max-width: 700px) {
  //   font-size: 90%;
  // }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto-Regular, sans-serif;
}

:root {
  --verde-oscuro: #176449;
  --verde-claro: #66DE3F;
}

.btn-primary-mutual {
  padding: .75rem 1.1875rem;
  border-radius: 4px;
  background: #1A5C43;
  color: #FFF;
  text-align: center;
  font-family: Roboto-Medium, sans-serif;
  border: none;
  font-size: .875rem;
  line-height: 1.125rem;
  /* 128.571% */
  cursor: pointer;
}

.text-small-section {
  color: #919EAB;
  text-align: center;
  font-family: Public-Bold;
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1.125rem;
  text-transform: uppercase;

  @media (max-width: 600px) {
    font-size: .65rem;
  }

  @media (max-width: 390px) {
    font-size: .5rem;
  }

}

.title-section {
  color: var(--verde-oscuro) !important;
  font-family: Roboto-Black;
  font-size: 3rem;
  font-style: normal;
  line-height: 4rem;
  letter-spacing: -0.6px;

  @media (max-width: 600px) {
    font-size: 2.3rem!important;
    line-height: 3rem;

  }

  @media (max-width: 390px) {
    font-size: 1.8rem!important;
    line-height: 2rem;

  }
}

.title-section span {
  color: var(--verde-oscuro) !important;
  font-family: Roboto-Black !important;
  font-size: 3rem;
  font-style: normal;
  line-height: 4rem;
  letter-spacing: -0.6px;

  @media (max-width: 600px) {
    font-size: 2.3rem!important;
    line-height: 3rem;
  }

  @media (max-width: 390px) {
    font-size: 1.8rem!important;
    line-height: 2rem;
  }
}

.text-big-section {
  color: var(--verde-oscuro);
  font-family: Public-Black;
  font-size: 3rem;
  font-style: normal;
  line-height: 4rem;

  @media (max-width: 600px) {
    font-size: 2.3rem;
  }

  @media (max-width: 390px) {
    font-size: 1.8rem;
  }
}

.text-section {
  color: var(--verde-oscuro);
  text-align: justify;
  font-family: Public-Regular;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;

  @media (max-width: 600px) {
    font-size: .8rem;
  }
}

.segmented-hr {
  border: .2px dashed #adadad8a;
}

.formulario-defined {
  display: flex;
  flex-direction: column;
  max-width: 35.1875rem;
  margin-left: 9.125rem;

  @media (max-width: 840px) {
    width: 90%;
    margin-left: 0;
    justify-content: center;
  }
}

.box-telefono-area {
  display: flex;
  align-items: center;

  input {
    width: 100%;
  }

  .mat-icon {
    padding-right: 1.5rem;
  }
}

.form-item-selector {
  @media (max-width: 840px) {
    display: flex;
    justify-content: center;
  }
}

.formulario-defined__title {
  margin-bottom: 2.5rem;
}

.formulario-defined__content--item {
  margin-bottom: 1.375rem;
  display: flex;
  flex-direction: column;

  label {
    color: #000;
    font-family: Roboto-Regular;
    font-weight: 400 !important;
    font-size: 0.875rem;
    font-style: normal;
    line-height: normal;
    margin-bottom: .9rem;
    font-weight: unset;

    strong {
      font-family: Roboto-Regular;
      text-decoration: underline;
    }
  }

  input,
  textarea,
  select {
    background: #F7F7F7;
    padding: 0.6875rem 1rem;
    color: #B2B2B2;
    font-family: Roboto-Light;
    font-size: 0.875rem;
    font-style: normal;
    line-height: normal;
    border: none;
    outline: none;
  }

  textarea {
    min-height: 12.5rem;
  }
}

.btn-form-defined {
  width: 100%;
}

.error-text-defined {
  color: red;
  font-size: .7rem;
}

hr {
  margin: 0
}

.formulario-box {
  padding: 4rem 0;
}

.loader-mutual-box {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.loader-mutual,
.loader-mutual:before,
.loader-mutual:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader-mutual {
  color: var(--verde-oscuro);
  font-size: 7px;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-mutual:before,
.loader-mutual:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader-mutual:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader-mutual:after {
  left: 3.5em;
}

@keyframes bblFadInOut {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em
  }

  40% {
    box-shadow: 0 2.5em 0 0
  }
}

button:disabled {
  background-color: rgb(239, 239, 239) !important;
  color: rgba(16, 16, 16, 0.3) !important;
  border-color: rgba(118, 118, 118, 0.3) !important;
  cursor: auto
}

.loader-admin-section {
  position: absolute;
  width: 100%;
  height: 100%;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--verde-oscuro) !important;
}

.inputs-ta-swal {
  display: flex;
  flex-direction: column;

  & textarea {
    min-height: 3rem;
    border: 1px solid rgb(202, 202, 202);
    padding: .5rem;
    font-size: .9rem;

    &:first-of-type {
      margin-bottom: .5rem;
    }

    &:last-of-type {
      min-height: 5rem;
    }
  }

  & input {
    border: 1px solid rgb(202, 202, 202);
    padding: .5rem;
    font-size: .9rem;

    &:first-of-type {
      margin-bottom: .5rem;
    }
  }

}



@import 'animate.css';