/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Public-Regular;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Regular.ttf');
}

@font-face {
  font-family: Public-Thin;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Thin.ttf');
}

@font-face {
  font-family: Public-ExtraLight;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-ExtraLight.ttf');
}

@font-face {
  font-family: Public-Light;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Light.ttf');
}

@font-face {
  font-family: Public-Medium;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Medium.ttf');
}

@font-face {
  font-family: Public-SemiBold;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-SemiBold.ttf');
}

@font-face {
  font-family: Public-Bold;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Bold.ttf');
}

@font-face {
  font-family: Public-Black;
  src: url('./assets/fonts/Public_Sans/static/PublicSans-Black.ttf');
}

@font-face {
  font-family: Roboto-Thin;
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Black;
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: Space-Regular;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf');
}

@font-face {
  font-family: Space-Light;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf');
}

@font-face {
  font-family: Space-Medium;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: Space-SemiBold;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
  font-family: Space-Bold;
  src: url('./assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf');
}

@font-face {
  font-family: Poppins-Thin;
  src: url('./assets/fonts/Poppins/Poppins-Thin.ttf');
}
@font-face {
  font-family: Poppins-ExtraLight;
  src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf');
}
@font-face {
  font-family: Poppins-Light;
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-Medium;
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: Poppins-Bold;
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: Poppins-Black;
  src: url('./assets/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: Nunito-Regular;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans_10pt-Regular.ttf');
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans_10pt-SemiBold.ttf');
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular;
}

html {
  font-size: 100%;
  /* 100% = 16px */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto-Regular, sans-serif;
}

:root {
  --verde-oscuro: #176449;
  --verde-claro: #66DE3F;
}

.btn-primary-mutual {
  padding: .75rem 1.1875rem;
  border-radius: 4px;
  background: #1A5C43;
  color: #FFF;
  text-align: center;
  font-family: Roboto-Medium, sans-serif;
  border: none;
  font-size: .875rem;
  line-height: 1.125rem;
  /* 128.571% */
  cursor: pointer;
}

.text-small-section {
  color: #919EAB;
  text-align: center;
  font-family: Public-Bold;
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1.125rem;
  text-transform: uppercase;
}

.title-section {
  color: var(--verde-oscuro)!important;
  font-family: Roboto-Black;
  font-size: 3rem;
  font-style: normal;
  line-height: 4rem;
  letter-spacing: -0.6px;
}

.title-section span {
  color: var(--verde-oscuro)!important;
  font-family: Roboto-Black!important;
  font-size: 3rem;
  font-style: normal;
  line-height: 4rem;
  letter-spacing: -0.6px;
}

.text-big-section {
  color: var(--verde-oscuro);
  font-family: Public-Black;
  font-size: 3rem;
  font-style: normal;
  line-height: 4rem;
}

.text-section {
  color: var(--verde-oscuro);
  text-align: justify;
  font-family: Public-Regular;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
}

@import 'animate.css';

