a {
  text-decoration: none;
  color: #73779F;
  font-family: unset;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5.4375rem;
  background: white;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: space-around;
  z-index: 40;

  &__logo {
    width: 2.375rem;
    height: 2.375rem;
  }

  &__items {
    ul {
      margin: 0;
      display: flex;
      li {
        cursor: pointer;
        list-style: none;
        font-size: .875rem;
        color: #73779F;
        font-family: 'Roboto-Medium';
        &:not(:last-of-type) {
          margin-right: 1.6875rem;
        }
      }
    }

    .selected {
      color: #282D6C!important;
      font-weight: 600;
    }
  }

  &__button {
    button {
      color: var(--verde-oscuro);
      text-align: center;
      font-size: .875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 128.571% */
      background-color: transparent;
      padding: .75rem 1.0635rem;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid var(--verde-claro);
    }
  }
}

.arrow-down {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}

.link-route {
  position: relative;

  &__href {
    display: flex;
    ::ng-deep .mat-icon {
      height: 14px;
      width: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s;
    }
  
    ::ng-deep .material-icons {
      font-size: 18px;
    }
  }
}
.my-class {
  ::ng-deep .mat-icon {
    transform: rotate(180deg);
  }
  .submenu {
    display: block;
  }
}
.submenu {
  background-color: white;
  position: absolute;
  top: 3.35rem;
  left: -1rem;
  display: none;
  ul {
    display: flex;
    flex-direction: column;
    li {
      margin-right: 0!important;
      padding: .5rem 1rem;
      transition: all .2s;
      font-weight: 400;

      a {
        color: unset;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid #73779F;
      }

      &:hover {
        background-color: #73779F;
        color: white;
      }
    }
  }
}