<div class="testimonio-box">
    <div class="testimonio-box__quote">
        <img src="./assets/imgs/testimonios/quote.png" alt="quote">
    </div>
    <div class="testimonio-box__title">
        <p>It proved to be exactly the kind of home we wanted.</p>
    </div>
    <div class="testimonio-box__text">
        <p>We wish to express our thanks for your hard work in finding us a temporary home, which proved to be exactly what we wanted.</p>
    </div>
    <div class="testimonio-box__person">
        <div class="testimonio-box__person__img">
            <img src="./assets/imgs/testimonios/user.png" alt="user">
        </div>
        <div class="testimonio-box__person__data">
            <p class="person-name">Jaydon Aminoff</p>
            <p class="person-job">Abogado</p>
        </div>
    </div>
</div>