<div class="testimonio-box">
    <div class="testimonio-box__quote">
        <img src="./assets/imgs/testimonios/quote.png" alt="quote">
    </div>
    <div class="testimonio-box__title">
        <p>{{ titulo }}</p>
    </div>
    <div class="testimonio-box__text">
        <p>{{ texto }}</p>
    </div>
    <div class="testimonio-box__person">
        <div class="testimonio-box__person__img">
            <img [src]=" imagen ? ('data:image/png;base64,' + imagen) : ('./assets/imgs/testimonios/user.png')" alt="user">
        </div>
        <div class="testimonio-box__person__data">
            <p class="person-name">{{ nombre }}</p>
            <p class="person-job">{{ trabajo }}</p>
        </div>
    </div>
</div>